/* medin queris

   below 767px - mobile device

   above 768px - below 1023px - Tablets

   above 1024px - Laptops */

@media only screen and (max-width:767px) {

    /* Topbar Css Starts*/
    .topbar {

        padding: 10px 20px;
        flex-direction: column;
    }

    /* Topbar Css Ends*/

    .topbar-social {
        padding-top: 20px
    }

    /* Header */
    .main-header {
        padding: 10px 20px;
        flex-direction: column;
    }

    .navbar ul li a {

        padding-left: 10px;
        font-size: 10px;
    }

    /* Header */

    /* Main Banner Section Css Start */
    .main-content h1 {
        font-size: 32px;
        margin: 50px 0px;
    }

    /* Main Banner Section Css ends */

    /* about us section css starts*/
    .about-us {
        padding: 20px 20px;
        grid-template-columns: 1fr;
    }

    .about-img img {
        width: 100%;

    }

    /* Courses Section Css Starts */
    .our-courses {
        padding: 20px 20px;

    }

    .all-courses {
        grid-template-columns: 1fr;
    }

    /* Courses Section Css ends */


    /* Footer*/

    footer {
        padding: 40px 20px;

        grid-template-columns: 1fr;

    }

    /* footer section css Ends*/

    /* Copyright Section Css Ends */

    .copyright {

        padding: 20px 20px;

    }

    .subscribe form {
        justify-content: space-between
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {

    /* Topbar Css Starts*/
    .topbar {
        flex-direction: column;
    }

    .topbar-social {
        padding-top: 20px
    }

    /* Topbar Css Ends*/

    /* Header */
    .main-header {
        flex-direction: column;
    }

    .navbar ul li a {

        padding-left: 10px;
        font-size: 10px;
    }

    /* Header */
    /* Main Banner Section Css Start */
    .main-content h1 {
        font-size: 32px;
        margin: 50px 0px;
    }

    /* Main Banner Section Css ends */

    /* about us section css starts*/
    .about-us {

        grid-template-columns: 1fr;
    }

    .about-img img {
        width: 100%;
    }

    /* about us section css ends*/

    /* Courses Section Css Starts */
    .course-card img {
        height: 200px;
        width: 185px;
    }

    /* Courses Section Css ends */

    /*footer Section start */
    footer {
        grid-template-columns: 1fr 1fr
    }

    .quick-links,
    .subscribe {
        margin-top: 30px;
    }

    .subscribe form {
        justify-content: space-between
    }

    /*footer Section ends */
}


