body{
    margin:0px;
    padding:0px;
    background-color: transparent;
    font-family: "Nunito Sans", sans-serif;
} 

a {
    text-decoration: none;
}

ul,ol {
    list-style:none;
    padding:0px;
    margin:0px;
}

/* Topbar Css Starts*/

 .topbar  {
    background-color: #072044;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.topbar-contact ul, .topbar-social, .topbar-social ul {
    display: flex;
    align-items: center;

}

.topbar-contact ul li a,.topbar-social ul li a{
    color: #fff;
    padding:10px;
    
}

.topbar-contact ul li a:hover, .topbar-social ul li a:hover{
    color:#2cabe1;
}

.topbar-social ul {
    border-right:1px solid #fff;
}

.topbar-social button {
    background-color: #2cabe1;
    color:#fff;
    padding:10px 24px;
    margin-left:15px;
    border:none;
    border-radius :5px;
}

.topbar-social  button:hover {
    background-color: #fff;
    color:#2cabe1;

}

/* Topbar css end*/

/* Header */
.main-header{
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
    color: #000;
    padding-left: 15px;
    font-size:15px;
    font-weight:800px ;

}

.navbar ul li a:hover {
    color:#2cabe1;
}

/* Main Banner Section Css Start */

.main-banner {
    background-image: url('../images/banneer.img.jpg');
    height:500px;
    background-repeat:no-repeat ;
    background-size:cover;
    background-position: center center;
    position:relative;
    display:flex;
    justify-content: center;
    text-align:center;
}

.main-banner::before{
    content:'';
    position:absolute;
    width: 100%;
    height:100%;
    background-color: #000;
    opacity:0.8;
}

.main-content{
    color:#fff;
    position:absolute;
    
}

.main-content h1{
    font-size: 50px;
    margin:50px 0px;
}

.main-content span{
    color:#2cabe1;
}

.main-content p {
    width:100%;
    max-width: 500px;
    margin:0px auto;
    padding-bottom: 30px;
    font-size: 18px;
}

.btn-one {
    background-color: #2cabe1;
    color:#fff;
    border:none;
    padding:10px 25px;
    margin-left: 5px;
    border-radius:4px;
    font-size:15px;
}

.btn-one:hover{
    background-color: #fff;
    color:#2cabe1;

}

.btn-two {
    background-color:transparent;
    color:#fff;
    border:1px solid #fff;
    padding:10px 25px;
    margin-left: 15px;
    border-radius:4px;
    font-size:15px;
}
.btn-two:hover{
    background-color: #fff;
    color:#2cabe1;
}

/* Main Banner Section Css ends */


/* about us section css starts*/
.about-us{
    padding: 20px 80px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:40px;
}

.about-img img {
    width:600px;
    height:300px;
    column-gap:15px;
}
/* about us section css ends*/


/* Courses Section Css Starts */
.our-courses {
    background-color:#eeeeee;
    padding:40px 80px;
    text-align: center;
}

.our-courses p{
    width:100%;
    max-width: 700px;
    margin:0 auto;
    font-size: 12px;
}

.all-courses {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;

}
.course-card{
    background-color: #fff;
    border-radius: 6px;
    margin-top:40px;
}

.course-card img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 200px;
    width:350px;
}

.course-content {
    text-align: left;
    padding:0 10px;
}

.course-content p {
    padding-bottom: 15px;
}

.course-btn {
    border-top:1px solid #eeeeee;

}

.course-btn button{
    float: right;
    margin:10px;
    background-color:#2cabe1;
    color:#fff;
    border:none;
    padding: 6px 18px;
    border-radius:4px;
}

/* Courses Section Css ends */


/* Footer*/

footer{
    background-color:#072940;
    padding:40px 80px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap:40px;
}
 
.footer-contact ul li a {
    color:#eeeeee;
    display: flex;
}

.footer-contact ul li a:hover{
    color:#2cabe1;
}

.footer-contact h4{
    color:#2cabe1;
    margin: 0px;
    padding-top: 20px;

}

.footer-contact ul li{
    padding-right: 20px;
}

.footer-contact ul li a span{
    padding-right: 10px;
}

.useful-links h4, .quick-links h4, .subscribe h4 {
    color:#eeeeee;
    margin: 0px;

}

.useful-links ul, .quick-links ul{
    padding-top:20px;

}

.useful-links ul li, .quick-links ul li{
    padding-top:16px;
}

.useful-links ul a, .quick-links ul li a{
    color:#eeeeee;
}

.useful-links ul li a:hover, .quick-links ul li a:hover {
    color:#2cabe1;
    padding-left:10px;

}.useful-links ul li a span, .quick-links ul li a span{
    padding-right:10px;
}
.subscribe p{
    color:#eeeeee;
}

.subscribe form{
    background-color:#fff;
    margin-bottom:20px;
    padding:4px;
    display: flex;
    justify-content:space-between;

}

.subscribe form input{
    background-color: transparent;
    border: none;
}

.subscribe form button {
    background-color: #2cabe1;
    border:none;
    color:#fff;
    padding:8px 14px;
    border-radius: 4px;
}

.subscribe ul {
    display:flex;

}
.subscribe ul li{
    background-color:rgba(255,255,255,0.1);
    width:50px;
    height:50px;
    margin-right: 10px;
    margin-top: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.subscribe ul li a{
    color:#eeeeee;
}
.subscribe ul li a:hover{
    color:#2cabe1;
}
/* footer section css Ends*/

/* Copyright Section Css Ends */

.copyright{
    background-color:#072044;
    padding: 20px 80px;

}

.copyright p{
    margin:0px;
    color:#eeeeee;
    font-size: 14px;
}

/* Copyright Section Css Ends */

/* Whatsapp button starts */
.whatsapp-button {
    background-color: rgba(37,211,102,1.00);
    position:fixed;
    bottom:30px;
    right:30px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;

}

.whatsapp-button .fa-whatsapp{
    color:#fff;
    font-size: 30px;

}

.whatsapp-button .fa-whatsapp:hover{
    color:#000;
}

/* Whatsapp button ends */